<tr data-search-terms="{{ album.search_terms }}"{% if album.is_favourite %} data-favourite="1"{% endif %}>
  <td class="library-artist">{{ album.artist }}</td>
  <td class="library-album">{{ album.album }}</td>
  <td class="path library-folder">{{ album.folder }}</td>
  <td class="library-actions">
    <div class="action-buttons">
      <form
        method="post"
        action="{{ url_for('library_play') }}"
        hx-post="{{ url_for('library_play') }}"
        hx-target="#control-panel-container"
        hx-swap="innerHTML"
      >
        <input type="hidden" name="folder" value="{{ album.folder }}">
        <button class="btn" type="submit">play</button>
      </form>
      <form
        method="post"
        action="{{ url_for('assign_add') }}"
        hx-post="{{ url_for('assign_add') }}"
        hx-target="#assignment-queue-container"
        hx-swap="innerHTML"
      >
        <input type="hidden" name="folder" value="{{ album.folder }}">
        <button class="btn" type="submit">assign</button>
      </form>
      <form
        method="post"
        action="{{ url_for('library_queue') }}"
        hx-post="{{ url_for('library_queue') }}"
        hx-target="#current-queue-container"
        hx-swap="innerHTML"
      >
        <input type="hidden" name="folder" value="{{ album.folder }}">
        <button class="btn" type="submit">queue</button>
      </form>
      <form
        class="archive-form"
        method="post"
        action="{{ url_for('library_archive') }}"
      >
        <input type="hidden" name="folder" value="{{ album.folder }}">
        <button class="btn danger archive-btn" type="submit" data-verify="" title="archive">archive</button>
      </form>
    </div>
  </td>
</tr>
